html{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: papayawhip;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
   text-align: center;
    color:whitesmoke;
    background-color:  #34568B;
}
#top{
    text-align: center;
}
h2{font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-transform: uppercase;
    color:white;
    background-color:#5072A7;
}
ul{
    color: #D2386C;
}
#edu{
    padding-left: 3%;
    margin: 2%;
    color: black;
    font-style: oblique;
    font-weight: 100;
    color:#363945;
}